nextflow.enable.dsl = 2

params {
  help = false
  input = null
  outdir = 'results'
  assembly = null
  fasta = null
  gtf = null
  known_pacs = null
  chromosome_aliases = null

  layout = 'auto'
  strandedness = 'auto'
  library_profile = 'generic_3prime'
  endpoint_model = 'auto'
  evidence_source = 'auto'
  min_mapq = 20
  require_unique = true
  require_proper_pair = true
  exclude_duplicates = true
  excluded_contigs = []

  min_replicates_per_condition = 2
  insufficient_replicates_policy = 'error'
  strand_min_informative_fragments = 10000
  strand_max_sampled_fragments = 200000
  strand_decision_fraction = 0.80

  calibration_min_genes = 100
  calibration_max_distance = 1000
  calibration_quantile_low = 0.05
  calibration_quantile_high = 0.95
  calibration_min_kernel_correlation = 0.80
  calibration_min_model_margin = 0.10
  exact_max_median_abs_offset = 2
  exact_max_central_width = 12
  exact_min_boundary_fraction = 0.50
  proximal_min_median_upstream_offset = 3

  pac_seed_radius = 2
  pac_cluster_radius = 12
  pac_min_total_count = 10
  pac_min_sample_count = 2
  pac_min_supporting_samples = 2
  known_pac_rescue_total = 5
  known_pac_match_radius = 12
  proximal_kernel_overlap_threshold = 0.50
  proximal_assignment_likelihood_ratio = 3.0
  pac_coordinate_bootstrap_replicates = 200

  max_downstream_distance = 5000
  pas_scan_upstream_far = 50
  pas_scan_upstream_near = 5
  pas_core_upstream_far = 35
  pas_core_upstream_near = 10
  pas_motif_catalog = null
  internal_priming_window = 20
  internal_priming_max_a_run = 6
  internal_priming_max_a_fraction = 0.60

  min_gene_total = 20
  min_site_count = 5
  min_site_usage = 0.01
  min_test_supporting_samples = 2
  model_covariates = []
  gene_fdr = 0.05
  site_fdr = 0.05
  min_abs_delta_pau = 0.10
  dm_bootstrap_replicates = 200
  dm_bootstrap_min_success_fraction = 0.80
  dm_zero_sensitivity_repeats = 5
  dm_zero_max_delta_pau_spread = 0.02
  random_seed = 1729
  event_min_treatment_pau = 0.05
  event_max_control_pau = 0.01
  event_min_supporting_samples = 2
  motif_preference_min_genes = 50
  motif_kmer_length = 6
  run_kmer_enrichment = true

  save_prepared_reference = false
  save_prepared_alignments = false
  save_intermediates = false
  slurm_account = null
  slurm_partition = null
  slurm_qos = null
  slurm_queue_size = 100
  slurm_submit_rate = '10 sec'
  scratch = null
  bind_paths = []
  container = "${projectDir}/containers/pacusage.sif"
}

includeConfig 'conf/base.config'

profiles {
  local {
    includeConfig 'conf/local.config'
  }
  slurm {
    includeConfig 'conf/slurm.config'
  }
  conda {
    conda.enabled = true
    process.conda = "${projectDir}/envs/pacusage.yml"
  }
  apptainer {
    apptainer.enabled = true
    apptainer.autoMounts = true
    apptainer.runOptions = params.bind_paths
      .collect { path -> "--bind '${path}:${path}'" }
      .join(' ')
    process.container = params.container
  }
  test {
    includeConfig 'conf/test.config'
  }
}

manifest {
  name = 'pacusage'
  author = 'PACusage contributors'
  description = 'Polyadenylation site discovery and differential usage'
  mainScript = 'main.nf'
  nextflowVersion = '>=24.04.0'
  version = '0.1.0'
}

cleanup = false
workDir = params.scratch ? "${params.scratch}/pacusage-work" : 'work'
