process {
  shell = ['/bin/bash', '-euo', 'pipefail']
  scratch = params.scratch ?: true
  errorStrategy = { task.exitStatus in [137, 140, 143] ? 'retry' : 'terminate' }
  maxRetries = 2
  maxErrors = '-1'

  withLabel: low {
    cpus = 1
    memory = 2.GB
    time = 2.h
    disk = 5.GB
  }
  withLabel: medium {
    cpus = 4
    memory = 12.GB
    time = 12.h
    disk = 50.GB
  }
  withLabel: high {
    cpus = 8
    memory = { 32.GB * task.attempt }
    time = { 24.h * task.attempt }
    disk = 200.GB
  }
}

executor {
  queueSize = 100
  submitRateLimit = '10 sec'
}

timeline.enabled = true
report.enabled = true
trace.enabled = true
dag.enabled = true
