process {
  executor = 'slurm'
  clusterOptions = {
    def values = []
    if (params.slurm_account) values << "--account=${params.slurm_account}"
    if (params.slurm_qos) values << "--qos=${params.slurm_qos}"
    values.join(' ')
  }
  queue = { params.slurm_partition ?: null }
}

executor {
  queueSize = params.slurm_queue_size
  submitRateLimit = params.slurm_submit_rate
}

